/* navigation starts here */


.row4{
    background-image: url(https://www.spacex.com/static/images/backgrounds-2022/nrol-87/post-launch/WEBSITE-DESKTOP_1425.webp);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;

}

.row5{
    background-image: url(https://www.spacex.com/static/images/backgrounds-2022/cosmo-skymed/post-launch/DESKTOP_COSMO_HOMEPAGE.webp);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
}


.row6{
    color:white;
    background-image: url(https://www.spacex.com/static/images/backgrounds-2021/hls-resized-2.webp);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color:  black;
    height: 100px;
   
}
a{
    color: white;
    margin: 40px 20px;
}





